@model Jayati_7_October.Models.Product

<h2>Add New Product</h2>

<form method="post">
    <label>ID:</label>
    <input asp-for="pid" /><br />

    <label>Name:</label>
    <input asp-for="pname" /><br />

    <label>Price:</label>
    <input asp-for="pprice" /><br />

    <button type="submit">Add Product</button>
</form>
